<template name="addVehicle">
  <div class="modal fade" id="addVehicleModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Assign New Vehicle</h4>
        </div>
        <div class="modal-body">
          <p>It appears you currently are not assigned to a vehicle for tracking.  Please create a new vehicle now so you can begin being tracked as part of the AVL solution.</p>
          <form class="form">
            <input type="text" class="form-control" name="name" placeholder="Vehicle Name" required="" autofocus="" />
            <input type="input-bottom" class="form-control" name="organization" placeholder="Organization" required=""/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Assign Vehicle</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>