<template name="vehicleList">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Vehicles</h3>
    </div>
    <div class="panel-body">
      <div class="row search-div">
        <div class="input-group search-group">
          <input type="search" class="form-control filter" placeholder="Search for...">
        </div>
      </div>
      <div class="list-group">
        {{#each vehicles}}
          {{> vehicle}}
        {{/each}}
      </div>
    </div>
  </div>
</template>
