<template name="deleteMessage">
  <div class="modal fade" id="deleteMessageModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Delete Message?</h4>
        </div>
        <div class="modal-body">
          <h4>
            <p><span class="glyphicon glyphicon-trash"></span> Deleting Messages:</p>
          </h4>
          <p>You are about to delete this message from the system.
            Are you sure that you want to do this?  This action cannot be reversed.</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-lg btn-primary btn-block btn-delete" type="submit">Delete Message</button>
        </div>
      </div>
    </div>
  </div>
</template>
