<template name="readMessage">
  <div class="modal fade" id="readMessageModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Read Message</h4>
        </div>
        <div class="modal-body">
          <h4>
            <p><span class="glyphicon glyphicon-envelope"></span> Message:</p>
          </h4>

          
          <button class="btn btn-lg btn-primary btn-block" type="submit">Close Message</button>
        </div>
      </div>
    </div>
  </div>
</template>
