<template name="about">
  <div class="container">
    <div class="jumbotron vertical-center">
      <div class="row">
        <div class="col-md-3 col-md-offset-1 text-center">
          <div class="panel panel-default">
            <div class="panel-body">
              <img src="url.jpg" class="img-thumbnail" />
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <h1 class="welcomeText heading">AVL with MeteorJS</h1>
          </div>
          <h3 class="welcomeText headingInfo"><span class="glyphicon glyphicon-globe"></span> Your vechile locations in Real-Time</h3>
          <p class="welcomeText headingInfo"><a href="{{pathFor 'signUp'}}">Sign-Up</a> or <a href="{{pathFor 'signIn'}}">Sign-In</a>.</p>
        </div>
      </div>
    </div>
</template>
