<template name="deleteUser">
  <div class="modal fade" id="deleteUserModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Delete User?</h4>
        </div>
        <div class="modal-body">
          <h4>
            <p><span class="glyphicon glyphicon-trash"></span> Deleting Users:</p>
          </h4>
          <p>You are about to delete user {{username}} from the system.
          Are you sure that you want to do this?  This action cannot be reversed.</p>
        </div>
        <div class="modal-footer">
          <form class="form">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Delete User</button>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
