<template name="history">
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="map-canvas" style="position: relative; background-color: rgb(229, 227, 223); overflow: hidden;"></div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Vehicle History</h3>
    </div>
    <div class="panel-body">
      <p>Selected Point: {{pointDate}} <span class="badge">Points:{{totalPoints}}</span></p>
      <p>
        <div class="slider"></div>
      </p>
    </div>
  </div>
</template>
